{
	email {$ACME_EMAIL:antonov.denis.srs@gmail.com}
}

www.denisantonov.com {
	redir https://denisantonov.com{uri} permanent
}

denisantonov.com {
	root * /srv
	encode zstd gzip
	file_server

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
		X-Frame-Options "DENY"
	}
}
